body {
  background-color: lightblue;
  font-family: Courier, monospace
}

form {
  margin: 1em;
}

nav {
  background-color: white;
}

.jumbotron {
  background-color: white;
  margin-bottom: 1em;
  margin-top: 1em;
}